
@import "oj/utilities/_oj.utilities.modules.scss";

// This file is where css selectors shared by all themes go.
// There will be hard code properties and properties controlled by variables, for example
//
// dashboard-ratio-list .dashboard-ratio-list-value-text {
// color: var(--dashboard-ratio-list-value-text-color);
// display: inline-block;
// }

// Even if this file is imported many times 'module-include-once' ensures the content is included just once .
@include module-include-once("dashboard-ratio-list.base") {
  dashboard-ratio-list:not(.oj-complete){
    visibility: hidden;
  }
  
  dashboard-ratio-list{
  	min-height: 50px;
  	width: 50px;
  }
}