/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   dashboard-babylonjs-viewer .dashboard-babylonjs-viewer-value-text {
   color: var(--dashboard-babylonjs-viewer-value-text-color);
   display: inline-block;
	 }
*/

dashboard-babylonjs-viewer:not(.oj-complete){
  visibility: hidden;
}

dashboard-babylonjs-viewer{
	min-height: 50px;
	width: 50px;
}

dashboard-babylonjs-viewer[hidden]
{
  display: none;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;   /* this is IMPORTANT! */
}