
@import "oj/utilities/_oj.utilities.modules.scss";

// This file is where css selectors shared by all themes go.
// There will be hard code properties and properties controlled by variables, for example
//
// dashboard-wallet-manager .dashboard-wallet-manager-value-text {
// color: var(--dashboard-wallet-manager-value-text-color);
// display: inline-block;
// }

// Even if this file is imported many times 'module-include-once' ensures the content is included just once .
@include module-include-once("dashboard-wallet-manager.base") {
  dashboard-wallet-manager:not(.oj-complete){
    visibility: hidden;
  }
  
  dashboard-wallet-manager{
  	min-height: 50px;
  	width: 50px;
  }
}